body {
  color: white;
  font-family: helvetica;
  -webkit-font-smoothing: antialiased;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 30px 0 0 0;
  background-color: #363b48;
  max-height: 100%;
  overflow-y: auto;
}

.filter-container {
  position: fixed;
  top: 100;
  left: 50;
  z-index:100;
  width: 252px;
  height: 100%;
  padding:30px 0 0 0;
  background-color: #363b48;
  max-height: 100%;
  overflow-y: auto;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

.center {
  text-align: center;
}

.search-container {
  position: absolute;
  margin-left: -120px;
  background: #3b4148;
  top: 140px;
  left: 50%;
}

.result, .search-bar {
  text-rendering: optimizelegibility;
  width: 240px;
  font-size: 20px;
  padding: 6px;
  border-radius: 6px;
  outline: none;
  letter-spacing: 0.6px;
}

.search-bar {
  border: 1px solid;
  position: absolute;
  background: #FFFFFF;
  color: #3b4148;
  top: 0;
}

.result {
  color: #bebebe;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 250px;
  background: #3b4148;
  color: #666;
  max-height: 100%;
  overflow-y: auto;
}
.list-group-submenu {
  background: #3b4148;
  width: 250px;
  height: 25%;
  max-height:100%;
  overflow-y: auto;
}

.strong { font-weight: bold; }
