body {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: white;
}

.results{
  position: fixed;
  margin:auto;
  border-radius: 20px;
  width: 50%;
  top: 15%;
  left: 2%;
  bottom: 5%;
  width: 96%;
  height: 90%;
  padding-left: 5%;
  padding-top: 300;
  padding bottom: 300;
  max-height: 100%;
  overflow-y: auto;
  background-color: #D3D4D5;
}


h1 {
  padding-top: 0;
  font-size: 3em;
  font-weight: 400;
  }
